@media screen and (min-width: 1024px) and (max-width: 1279px) {
    .page {
        width: 100%;
    }

    .header {
        padding: 28px 48px 48px 48px;
      }

      .lead {
        padding: 0 48px;
      }

      .lead__subtitle {
        padding-bottom: 56px;
      }

      .lead__image {
        max-width: 928px;
        min-height: 580px;
      }
      
      .lead__caption {
        width: calc(100% - 48px*2);
        margin: 0 auto;
      }

      .intro {
        margin: 92px 48px;
      }

      .photo-grid {
        max-width: 928px;
        max-height: 942px;
      }

      .photo-grid__item {
        box-sizing: border-box;
        object-fit: cover;
        max-width: 928px;
        max-height: 225px;
      }

    .photo-grid__img {
        width: 300px;
        height: 225px;
      }
      
    .photo-grid__list {
        grid-template-columns: repeat(3, 1fr);
        gap: 14px;
      }

    .place {
        max-width: 928px;
        padding: 92px 48px 12px;
      }

      .place__title {
        max-width: 440px;
      }

      .place__item {
        grid-template-columns:  minmax(440px, 1fr);
        column-gap: 32px;
      }

      .place__image {
        width: 440px;
        height: 440px;
      }

      .place__paragraph {
        max-width: 456px;
      }

    .cover {
        max-width: 1024px; 
        min-height: 640px;
    }

    .cover__background {
        max-width: 1024px; 
        min-height: 640px;
      }

      .cover__overlay:before {
        max-width: 1024px; 
        min-height: 640px;
      }  
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .page {
        width: 100%;
    }

    .header {
        padding: 28px 24px 48px 24px;
      }

      .lead {
        padding: 0;
      }

      .lead__image {
        max-width: 768px;
        min-height: 480px;
      }

      .lead__caption {
        width: calc(100% - 24px*2);
        margin: 0 auto;
      }

      .lead__subtitle {
        padding-bottom: 56px;
      }

      .intro {
        margin: 88px 24px;
      }

      
      .photo-grid {
        max-width: 720px;
        max-height: 1664px;
        margin: 0 auto;
        padding: 0 24px;
      }

      .photo-grid__item {
        box-sizing: border-box;
        object-fit: cover;
        max-width: 720px;
        max-height: 264px;
      }

    .photo-grid__img {
        width: 352px;
        height: 264px;
      }
      
    .photo-grid__list {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
      }

    .place {
        max-width: 720px;
        padding: 88px 24px 10px;
      }
      
    .place__title {
        max-width: 340px;
        font-weight: 900;
        font-size: 42px;
        line-height: 46px;
        white-space: normal;
  }
      .place__item {
        grid-template-columns:  minmax(340px, 1fr);
        column-gap: 28px;
        padding-bottom: 73px;
      }

      .place__image {
        width: 340px;
        height: 340px;
      }

      .place__paragraph {
        max-width: 352px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
      }

    .cover {
        max-width: 768px; 
        min-height: 480px;
    }

    .cover__background {
        max-width: 768px; 
        min-height: 480px;
      }

      .cover__overlay:before {
        max-width: 768px; 
        min-height: 480px;
      }  
      
.footer {
    padding: 88px 24px 24px 24px;
  }
}


@media screen and (min-width: 320px) and (max-width: 767px) {

    .content {
        max-width: 320px;
        margin: 0 auto;
    }

    .header {
        padding: 16px 16px 48px 16px;
      }
      
      .header__logo {
        width: 142px;
        height: 42px;
      }
      
      .header__lang-link {
        font-size: 18px;
        line-height: 20px;
        font-weight: 400;
      }

      .lead {
        padding: 0;
        object-fit: cover;
      }

      .lead__title {
        font-weight: 900;
        font-size: 40px;
        line-height: 44px;
      }
      
      .lead__subtitle {
        max-width: 288px;
        max-height: 40px;
        font-size: 16px;
        line-height: 20px;
        padding-bottom: 40px;
        padding-top: 16px;
      }
      .lead__image {
        width: 320px;
        height: 200px;
      }

      .lead__caption {
        width: calc(100% - 16px*2);
        margin: 0 auto;
      }

      .intro {
        margin: 64px 16px;
      }

      .intro__title {
        font-size: 32px;
        line-height: 35px;
        max-width: 288px;
      }
      
      .intro__text {
        font-size: 16px;
        line-height: 26.08px;
        padding-bottom: 33px;
        max-width: 288px;
      }

      .photo-grid {
        max-width: 288px;
        max-height: 2724px;
        margin: 0 auto;
        padding: 0 16px;
      }

      .photo-grid__item {
        max-width: 288px;
        max-height: 216px;
        
      }

    .photo-grid__img {
        min-width: 288px;
        min-height: 216px;
      }
      
    .photo-grid__list {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 12px;
      }

    .place {
        max-width: 720px;
        padding: 64px 0 16px;
      }
      
    .place__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        padding: 0 16px;
    }
      .place__item {
        padding-bottom: 50px;
        list-style: none;
        display: grid;
        grid-template-columns:  320px 1fr;
        row-gap: 32px;
        grid-template-areas:
          "title"
          "website"
          "image"
          "text";
      }

      .place__image {
        width: 320px;
        height: 320px;
      }

      .place__paragraph {
        max-width: 288px;
        font-weight: 400;
        font-size: 16px;
        line-height: 26px;
        row-gap: 25px;
        padding: 0 16px;
      }

      .place__website {
        padding: 0 12px;
      }

    .cover {
        max-width: 320px; 
        min-height: 200px;
    }

    .cover__background {
        max-width: 320px; 
        min-height: 200px;
      }

      .cover__overlay:before {
        max-width: 320px; 
        min-height: 200px;
      }  

      .cover__title {
        max-width: 288px;
        font-weight: 900;
        font-size: 32px;
        line-height: 35px;
      }
      
      .cover__subtitle {
        width: 288px;
        height: 48px;
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;
        padding-top: 16px;
      }
      
.footer {
    display: flex;
    max-width: 1184px;
    flex-direction: column;
    padding: 64px 16px 24px 16px;
    row-gap: 48px;
  }

  .footer__copyright {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    row-gap: 32px;

  }
  
  .footer__link {
    font-size: 24px;
    line-height: 24px;
  }
} 

