.place__website {
  grid-area: website;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  row-gap: 12px;
}

@media screen and (max-width: 767px) {
  .place__website {
    padding: 0 16px;
  }
}
